body {
	padding: 20px;
	max-width: 1500px
	width: 80%;
	background-color: #ffffff;
	margin: 0 auto;
}
header{
	text-align: center;
}
img {
	text-align: center;
}
nav {
	text-align: center;
	padding: 1em 0;
}
nav a {
	color: black;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	margin: 1em;
  	font-size: 18px;
  	text-transform: uppercase;
}
#menu {
	display: none;
}
a:hover {
	color: #d4d4d4;
}
#hero {
	width:100%;
}
#mission {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
}
#two {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	background: #ffffff;
	font-size: 18px;
	line-height: 1.5;
	font-weight: bold;
	padding: 20px
}
p {
	display: inline-block;
	margin: 1em;
	font-size: 1em; 
}
footer {
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	padding-top: 20px;
	color: black;
	}
footer a {
		color: black;
		text-decoration: none;
	}
	#class {
		text-align: center;
	}
	#sca {
		padding: 1em 0;
		margin: 0;
		text-align: right;
		display: block;
	}
	#sca a {
		font-size: .5em;
		text-decoration: none;
		color: #cccccc;
	}
	.office_pics {
	width: 24%;
	float: left;
	padding: .25em;

	} 
	#about_evy {
		font-family: 'Montserrat', sans-serif;
		font-size: 1em;
		text-align: center;
	}
	#locations {
		text-align: center;
		line-height: 1.5;
	}
	#brands img {
		width: 33.333%;
		float: left;
	}
	#licensees img {
		width: 100%;
	}
	#girlsdiv {
		font-family: 'Montserrat', sans-serif;
		font-size: 27px;
		font-color: #AAAAAA;
		background-color: #54FAFF;
	}
	#evy_dress img {
		width: 50%;
	}
	#girltalk {
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		font-color: #A8A8A8;
		width: 50%;
		margin: 1em;
		float: right;
		clear: both;
	}
	#boytalk {
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		width: 50%;
		margin: 1em;
		float: left;
		clear: both;
	}
	#boysdiv {
		clear: both;
		font-family: 'Montserrat', sans-serif;
		text-align: right;
		font-size: 27px;
		background-color: #FFFE3A;
	}
	#boom_shirt img {
		float: right;
		text-align: right;
		clear: both;
	}
	#sleepweardiv {
		clear: both;
		font-family: 'Montserrat', sans-serif;
		font-size: 27px;
		background-color: #54FAFF;
	}
	#sleeptalk {
		font-family: 'Montserrat', sans-serif;
		font-size: 18px;
		width: 50%;
		margin: 1em;
		float: right;
		clear: both;
	}
	#twitterfeed {
		text-align: center;
		background-color: #cccccc;
		padding-top: 2em;
	}
	#sportswear {
		font-family: 'Montserrat', sans-serif;
		font-height: 1.5;
		text-align: center;
	}
@media only screen and (max-width: 860px) {
	#background {
		width: 100%;
	}
	body {
		padding: 20px;
		margin: 20px;
	}
	nav {
		text-align: center;
	}
	nav a {
		line-height: 2;
	}
}
@media only screen and (max-width: 760px) {
	nav a{ 
	display: none;  
	}
	#menu {
		display: block;
		font-size:  2em;
		margin: 0;
	}
	nav:hover a{
		display: block;
	}
	#mission 
		font-size: .50%;
	}

}
@media only screen and (mid-width: 1080px) {
	section #office {
		width: 25%;
		float: left;
	}
}
img #office_pics {
	width: 270px;
